@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

* {
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #eee;
  height: 100%;
}
